* {
   box-sizing: border-box;  
    background-color: rgb(67, 169, 228);
}

body {
    
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    line-height: 1.3;  
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 200%;
}

h2 {
    margin: 2% 0;
    font-size: 250%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

nav{
    display:flex;
    background-color: rgb(15, 15, 15);
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #f3f8f1;
    color: rgb(8, 8, 8);
    margin-top: 50px;
}

footer{
    padding: 20px 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f8f1;
    width: 100%;
    height: 50px;
}

#page-wrapper{
    margin: 0px 5%;
        display: grid;
        min-height: 500px;
        height: 70vh;
        grid-template-rows: 75% 25%;
        grid-template-columns: 75% 25%;
        grid-template-areas:
        "aboutMe workExperience"
        "workExperience workExperience";        
}

#aboutMe{
    grid-area: aboutMe;
    background-image: url(../Augustine_Portfolio/images/augustine_pic.jpg);
}

#workExperience{
    grid-area:workExperience;
    background-image: url("../Augustine_Portfolio/images/1.\ arn.png");
}

.page-section{
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        display: flex;
        position: relative;
}

/*
#work{

}

.page-section contact{

}

#contact{

}

#ProjectGrid{
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 150px 150px 150px 150px 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "Pro_1 Pro_2 Pro_3 Pro_4 Pro_5"
    "Pro_6 Pro_7 Pro_8 Pro_9 Pro_10";
}   

#Pro_1{
    grid-area: bookcases;
    background-image: url
}

#Pro_1 {
    grid-area: bookcases;
    background-image: url
}

#Pro_1 {
    grid-area: bookcases;
    background-image: url
}

#Pro_1 {
    grid-area: bookcases;
    background-image: url
}

#Pro_1 {
    grid-area: ARN;
    background-image:url("../Augustine_Portfolio/images/1.\ arn.png");
}

#Pro_2 {
    grid-area: PAN;
    background-image: url("../Augustine_Portfolio/images/2.\ pan-edu.png");
}

#Pro_3 {
    grid-area: ERD;
    background-image: url("../Augustine_Portfolio/images/3.\ eva-ready2_dazzle.png");
}

#Pro_4 {
    grid-area: MUTHAN;
    background-image: url("../Augustine_Portfolio/images/4.\ muthan.jpg");
}

#Pro_5 {
    grid-area: FSV;
    background-image: url("../Augustine_Portfolio/images/5.\ fsv.png");
}

#Pro_6 {
    grid-area: CT;
    background-image: url("../Augustine_Portfolio/images/6.creativetechies.jpg");
}

#Pro_7 {
    grid-area: ATIR;
    background-image: url("../Augustine_Portfolio/images/7.\ afrothinkitright.jpg");
}

#Pro_8 {
    grid-area: ADH;
    background-image: url("../Augustine_Portfolio/images/8.\ adh.jpg");
}

#Pro_9 {
    grid-area: APO;
    background-image: url("../Augustine_Portfolio/images/9.\ africanphilosophersonline.jpg");
}

#Pro_10 {
    grid-area: PMB;
    background-image: url("../Augustine_Portfolio/images/10.\ paintmeblack.png");
}

.ProjectGridArea{
    background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 5px;
        cursor: pointer;
        display: grid;
        align-content: end;
    }

    */