@charset "utf-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	color:antiquewhite;

}
.hero-banner div {
    background-image: url(images/02-hero-bg.jpg);
    height: 200px;
    text-align: right;
    text-shadow: 0px 0px #000000;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.hero-banner div h2 {
    text-align: right;
    background-color: #000000;
    position: relative;
}



body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: black;
	
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #050606;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

nav{
    position:absolute;
    display: inline;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 50%;
    padding-right: 0px;
}

.nav li {
    position:relative;
    display:inline;
    width: 100%;
    padding: 10px;
	color:white;
	
  
}


body header h1 {
    background-color: #F1ECEC;
    text-shadow: 0px 0px;
    color: black;
}
body header nav {
    text-decoration: underline;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: auto;
	display: inline-flex;
	flex-direction: row;
}
main article p {
    float: left;
	text-alig: center;
}
main article img {
    float: left;
}

.hero-banner{
	
}

.page-wrapper{
display: grid;
grid-direction: columns;

}

#ProjectGrid{
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
  "ARN PAN ERD MUTHAN"
  "FSV CT ADH APO";
}

.ProjectGridArea{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

#Pro1 {
    grid-area: Pro1;
    background-image:url("./images/1. arn.png");
}

footer {
  display: block;
  justify-content: flex-end;
  flex-direction: column;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

.work_experience{
	display: inline-flex;
	width:100%;

}

.project{
	display:flex;
	
}